{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background: url("{% static 'img/imgfondo.png' %}") no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        background-color: #343A40;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .back-button {
        position: absolute;
        top: 20px;
        left: 20px;
    }
</style>
<div class="container">
    <a href="{% url 'index' %}" class="btn btn-secondary back-button">Volver a Inicio</a>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-white">
                <div class="card-header text-center">
                    <h2>Registro</h2>
                </div>
                <center><div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <br>
                        {{ form.username.label_tag }}<br>
                        {{ form.username }}<br>
                        {{ form.password1.label_tag }}<br>
                        {{ form.password1 }}<br>
                        {{ form.password2.label_tag }}<br>
                        {{ form.password2 }}<br>
                        {% if form.errors %}
                        <br>
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                            <br>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </form>
                </div></center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
